<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>
        
    </head>
    <body ng-app="CameraApp" ng-controller="CameraController">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <!-- <img src="{{ url_for('static', filename='img/aerial-view.jpg') }}"> -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Plan View</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <canvas id="map-container"></canvas>
                                    <div class="alert alert-info" role="alert">Draw the camera path of the camera.</div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Boundary Properties</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label class="control-label">Top Left</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">X</div>
                                                    <input type="text" class="form-control" placeholder="Top Left X" ng-model="topLeft.x" ng-blur="renderBoundaryRect()">
                                                    <div class="input-group-addon">Y</div>
                                                    <input type="text" class="form-control" placeholder="Top Left Y" ng-model="topLeft.y" ng-blur="renderBoundaryRect()">
                                                </div>
                                                <br>
                                                <label class="control-label">Bottom Right</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">X</div>
                                                    <input type="text" class="form-control" placeholder="Bottom Right X" ng-model="bottomRight.x" ng-blur="renderBoundaryRect()">
                                                    <div class="input-group-addon">Y</div>
                                                    <input type="text" class="form-control" placeholder="Bottom Right Y" ng-model="bottomRight.y" ng-blur="renderBoundaryRect()">
                                                </div>
                                                <br>
                                                <button class="btn [[ {true: 'btn-danger', false: 'btn-success'}[boundaryRectEditable] ]]" ng-click="toggleEditing()">[[ {true: 'Stop', false: 'Enable'}[boundaryRectEditable] ]] Editing</button>
                                                <br>
                                                <br>
                                                <label class="control-label">Real World Boundary Box Dimensions</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">W</div>
                                                    <input type="text" class="form-control" placeholder="Width" ng-model="boundaryWidth">
                                                    <div class="input-group-addon">H</div>
                                                    <input type="text" class="form-control" placeholder="Height" ng-model="boundaryHeight">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="{{ url_for('static', filename='js/vendor/jquery-1.10.2.min.js') }}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="{{ url_for('static', filename='js/vendor/fabric.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
